.filter {
    size: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    background-color: white;
    gap: 0px 0px;/*row-gap, column-gap*/
}
.filter-item {
    text-align: center;
    border: 1px solid black;
    padding: 5px 2px 5px 2px;
}

.type-filter {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    background-color: white;
    border: 1px solid black;
}
.type-filter-item {
    text-align: center;
    padding: 10px 2px 10px 1px; /*Top, right, bottom, left*/
}
.actions {
    display: flex;
    justify-content: flex-end; /* Position buttons to the right */
}
/* Style the Delete and Download buttons */
.actions button {
    margin: 10px;
}


/* Apply specific widths to table columns */
.data table {
    border: 1px solid;
    width: 100%;
    color: black;
    border-collapse: collapse;
    border: 1px solid;
}

.data table tr{
    color: black;
    text-align: center;
    border: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.data table th{
    color: black;
    text-align: center;
    border-bottom: 2px solid black;
    padding: 7px;
}

.data table td{
    color: black;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 7px;
}


/* Style the first column (containing the checkbox) */
.data table th:first-child,
.data table td:first-child {
    width: 5%; /* Adjust the width as needed */
    text-align: center; /* Center the checkbox */
}
/* Style the first column (containing the checkbox) */
.data table th:nth-child(2),
.data table td:nth-child(2){
    width: 11%; /* Adjust the width as needed */
    text-align: center; /* Center the checkbox */
}
.data table th:nth-child(3),
.data table td:nth-child(3){
    width: 28%; /* Adjust the width as needed */
    text-align: center; /* Center the checkbox */
}
.data table th:nth-child(4),
.data table td:nth-child(4){
    width: 28%; /* Adjust the width as needed */
    text-align: center; /* Center the checkbox */
}
.data table th:nth-child(5),
.data table td:nth-child(5){
    width: 28%; /* Adjust the width as needed */
    text-align: center; /* Center the checkbox */
}

/* Center-align the pagination elements */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}

/* Style the pagination buttons */
.pagination button {
    margin: 0 5px; /* Add some spacing between buttons */
}

/* Style the page info text */
.page-info {
    margin: 0 10px; /* Add spacing between page info and buttons */
}
